USE [master]
GO
/****** Object:  Database [Banks]    Script Date: 2020/7/23 19:13:13 ******/
CREATE DATABASE [Banks]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Banks', FILENAME = N'D:\Sql-Service-Demo\Banks.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Banks_log', FILENAME = N'D:\Sql-Service-Demo\Banks_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Banks].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Banks]
GO
USE [Banks]
GO
/****** Object:  Table [dbo].[Recording]    Script Date: 2020/7/23 19:13:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recording](
	[Recording_id] [int] IDENTITY(1,1) NOT NULL,
	[Timet] [nvarchar](36) NOT NULL,
	[Details] [nvarchar](max) NOT NULL,
	[Card_Number] [nvarchar](36) NOT NULL,
 CONSTRAINT [PK_Recording] PRIMARY KEY CLUSTERED 
(
	[Recording_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 2020/7/23 19:13:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[User_id] [int] IDENTITY(1,1) NOT NULL,
	[Card_Number] [nvarchar](26) NULL,
	[Amount_Number] [nvarchar](26) NULL,
	[Card_Password] [nvarchar](max) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[User_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
